
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: url(Imagenes/FondoC.jpg);
}


.section{
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-left:20px;
    margin-right: 20px;
}

.section-header{
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2{
    color:#000000;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Safira March Personal Use', sans-serif;
}

.section-header p{
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.raw{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info{
    width: 50%;
}

.contact-info-item{
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon{
    height: 70px;
    width: 70px;
    background-color:#fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i{
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content{
    margin-left: 20px;
}

.contact-info-content h4{
    color: #000000;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p{
    color: #000000;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Safira March Personal Use', sans-serif;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span{
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
    color: #FEA41A;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="sumbit"]{
    width: 100%;
    background: #FEA41A;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 18px;
    border: 1px solid #FEA41A;
    transition: 0.5s;
}

.contact-form .input-box input[type="sumbit"]:hover{
    background: #fff;
    color: #FEA41A;
}

@media (max-width: 991px){
    .contact{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        flex-direction: column;
    }

    .contact-info{
        margin-bottom: 40px;
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
}

