*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: url(Imagenes/FondoC.jpg);
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Safira March Personal Use', sans-serif;
    color: #000000;
}

.contact .content p{
    font-weight: 300;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contacto-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contacto-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contacto-info .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contacto-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 600;
}

.container .contacto-info .box h3{
    font-weight: 800;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.contacto_form{
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contacto_form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contacto_form .input{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contacto_form .input input, .contacto_form .input textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .input span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .input input:focus span,
.contactForm .input input:valid span,
.contactForm .input textarea:focus span,
.contactForm .input textarea:valid span{
    color: #333;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .input input[type="sumbit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

@media (max-width: 991px){
    .contact{
        padding: 50px;

    }
    .container{
        flex-direction: column;
    }
    .container .contacto-info{
        margin-bottom: 40px;
    }
    .container .contacto-info, .contactForm{
        width: 100%;
    }

}