.galeria {
    background-color: #fff;
    padding: 50px 0;
    text-align: center; 
    flex: 1;
}

.contenedor h1 {
    flex: 1;
    font-size: 30px;
    line-height: 1.0;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

.galeria-cont {
    text-align: center; 
    margin-top: 100px;
}

.galeria-cont img {
    display: inline-block;
    margin: 0 2%; 
    width: 5%;
    margin-bottom: 20px; 
    size: 5%;
}


@media (min-width: 375px) {
    .galeria-cont img {
        width: calc(30% - 2%); 
    }
}