.servicios{
    background: #fff;
    width: 100%;
    padding: 100px 0;
}

.title h1{
    margin-left: 100px;
    font-size: 45px;
    line-height: 1.7;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 300;
}

.pruebas-box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.pruebas-card{
    height: 350px;
    width: 350px;
    padding: 20px 35px;
    background: #FEA41A;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.pruebas-title h1{
    margin-left: 50px;
    font-size: 25px;
    text-align: center;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 200;
}

.pruebas-texto h5{
    color: #000000;
    font-size: 23px;
    margin-bottom: 10px;
}

.pruebas-texto p{
    color: #000000;
    line-height: 1.0;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.pruebas-img img{
    width: 150px;
    align-items: center;
}