*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.servicios{
    background: #fff;
    width: 100%;
    padding: 100px 0;
}

.title h1{
    margin-left: 100px;
    font-size: 45px;
    line-height: 1.7;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 300;
}

.pruebas-box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.pruebas-card{
    height: 350px;
    width: 350px;
    padding: 20px 35px;
    background: #FEA41A;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.pruebas-title h1{
    margin-left: 50px;
    font-size: 25px;
    text-align: center;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 200;
}

.pruebas-texto h5{
    color: #000000;
    font-size: 23px;
    margin-bottom: 10px;
}

.pruebas-texto p{
    color: #000000;
    line-height: 1.0;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.pruebas-img img{
    width: 150px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
  /* Estilos para móviles */
    .servicios {
    padding: 50px 0;
}
    .title h1 {
    margin-left: 20px;
    font-size: 30px;
}
    .pruebas-card {
    height: 250px;
    width: 250px;
    margin: 10px;
}
    .pruebas-title h1 {
    margin-left: 30px;
    font-size: 20px;
}
    .pruebas-texto h5 {
    font-size: 18px;
}
    .pruebas-texto p {
    font-size: 13px;
}
    .pruebas-img img {
    width: 100px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets */
    .servicios {
    padding: 75px 0;
}
    .title h1 {
    margin-left: 50px;
    font-size: 35px;
}
    .pruebas-card {
    height: 300px;
    width: 300px;
    margin: 15px;
}
    .pruebas-title h1 {
    margin-left: 40px;
    font-size: 22px;
}
    .pruebas-texto h5 {
    font-size: 20px;
}
    .pruebas-texto p {
    font-size: 14px;
}
    .pruebas-img img {
    width: 120px;
}
}

@media only screen and (min-width: 1024px) {
  /* Estilos para escritorios */
    .servicios {
    padding: 100px 0;
}
    .title h1 {
    margin-left: 100px;
    font-size: 45px;
}
    .pruebas-card {
    height: 350px;
    width: 350px;
    margin: 15px;
}
    .pruebas-title h1 {
    margin-left: 50px;
    font-size: 25px;
}
    .pruebas-texto h5 {
    font-size: 23px;
}
    .pruebas-texto p {
    font-size: 15px;
}
    .pruebas-img img {
    width: 150px;
}
}
