*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.barra-nav{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.barra-nav .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.logo img{
    width: auto;
    height: 70px;
    transition: all 0.3s;
}

.barra-nav .logo img:hover{
    transform: scale(1.2);
}

.barra-nav nav{
    order: 1;
}

.barra-nav .nav-links{
    list-style: none;
}

.barra-nav .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.barra-nav .nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.barra-nav .nav-links li:hover{
    transform: scale(1.1);
}

.barra-nav .nav-links a{
    font-size: 700;
    color: #fff;
    text-decoration: none;
}

.barra-nav .nav-links li a:hover{
    color: #FEA41A;
}


.barra-nav .button{
    order:2;
}

.barra-nav .button button{
    margin-left: 20px;
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #FEA41A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
}

.barra-nav .button button:hover{
    background-color: #fff;
    color: #FEA41A;
    scale: scale(1,1);
}

.header{
    height: 60vh;
    width: 100%;
    background-image: url(Imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
        }

.header img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80%;
    left: 2%;
}

.nav-aspectos ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;   
}

.nav-aspectos ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}

.nav-aspectos ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
}

.nav-aspectos ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: left;

}

.text-box h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Safira March Personal Use', sans-serif;

}

.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.contacto p{
    width: 50%;
    color: #fff;
    position: absolute;
    top:82%;
    left: 45%;
    text-align: right;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

@media(max-widht: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-aspectos ul li{
        display: block;
    }
    .nav-aspectos{
        position: absolute;
        background: #000000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/*SERVICIOS*/
.servicios{
    background: #fff;
    width: 100%;
    padding: 100px 0;
}

.title h1{
    margin-left: 100px;
    font-size: 45px;
    line-height: 1.7;
    font-family: 'Safira March Personal Use', sans-serif;
    font-weight: 300;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 220px;
    width: 210px;
    padding: 20px 35px;
    background: #FEA41A;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: #000000;
    font-size: 23px;
    margin-bottom: 10px;
}

.texto p{
    color: #000000;
    line-height: 1.0;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.card .boton{
    background-color: #31282b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 7px 7px;
    border-radius: 30px;
    transition: .4s;
}

.card .boton:hover{
    background-color: transparent;
    border: 2px solid #31282b;
    cursor: pointer;
}


